.contacts, .contact, .thanks {
    padding: 53px 0 33px 0;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__img {
        width: 591px;
        height: 394px;
        object-fit: contain;
        margin-right: 42px;
    }
    &__info {
        padding: 30px 40px 36px 40px;
        width: 469px;
        min-height: 465px;
    }
    &__header {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    &__subheader {
        margin-top: 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
    &__info {
        box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.21);
    }
    &__input {
        input {
            width: 390px;
            height: 65px;
            border: 2px solid #C1C1C1;
            outline: none;
            margin-top: 20px;
            padding: 22px 0 22px 33px;
            font-weight: 400;
            font-size: 18px;
            color: #838383;
        }
    }
    &__button {
        margin-top: 40px;
    }
    &__btn {
        margin: 0 auto;
        display: block;
    }
}
